@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* || variables */

:root {
    --PAGE-BG-COLOR: rgb(240, 236, 252);
    --SECTION-BG-COLOR: rgb(255, 251, 251);
    --ACCENT-COLOR: rgb(114, 17, 204);
    --SHADOW-COLOR: rgba(0, 0, 0, 0.05);
    --LEGEND-BG-COLOR: rgb(238, 236, 241);
    --BORDER-RAD: 0.5rem;
}

/* ||| MISC. STYLING */

/* || reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--PAGE-BG-COLOR);
}

body {
    padding: 0.75rem 1.5rem;
    font-family: "Inter", sans-serif;
}

/* || header styles */

header {
    background-color: var(--SECTION-BG-COLOR);
    padding: 1rem;
    border-radius: var(--BORDER-RAD);
    box-shadow: 0 0 5px var(--SHADOW-COLOR);
    border-top: 10px solid var(--ACCENT-COLOR);
}

.survey-title {
    font-size: 1.3rem;
    font-weight: 450;
    margin-bottom: 1rem 0;
}

.survey-description {
    font-size: 0.6rem;
    margin: 1rem 0;
}

/* ||| FORM STLYING */

fieldset {
    margin: 0.75rem 0;
    font-size: 0.6rem;
    border: none;
    padding: 1rem;
    background-color: var(--SECTION-BG-COLOR);
    border-radius: var(--BORDER-RAD);
}

fieldset p {
    margin: 0.5rem 0;
}

fieldset .legend {
    background-color: var(--LEGEND-BG-COLOR);
    padding: 0.5rem;
    font-size: 0.7rem;
    font-weight: normal;
    border-bottom: 1px solid black;
    margin-bottom: 0.5rem;
}

fieldset input, fieldset label {
    background-color: var(--SECTION-BG-COLOR);
    display: block;
    margin: 0.5rem 0;
    border: none
}

fieldset input {
    transition: all 0.1s ease-in-out;
    border-bottom: 1px dotted gray;
    outline: none;
    font-size: 0.55rem;
}

fieldset input:focus {
    border-bottom: 2px solid var(--ACCENT-COLOR)
}

select {
    transition: all 0.1s ease-in-out;
    font-size: 0.55rem;
    background-color: var(--SECTION-BG-COLOR);
    border: none;
    border-radius: 0.1rem;
}

select:focus {
    border: none;
    border-bottom: 1px solid var(--ACCENT-COLOR);
}

option {
    margin: 0.1rem;
}

.radio {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 0.25rem;
    align-items: center;
}

